div {
    display: flex;
    justify-content: center;
    margin-top: 2rem;   
}

form {
    width: 70%;
}
.gender-select {
    display: flex;
    align-items: center;
    gap: 1rem;
} 

.buttons {
    display: flex;
    justify-content: center;
}
.btn-group {
    margin-right: 2rem;
    width: 25%
}