h1, a {
    display: block;
}

h1{
    font-size: 2rem;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2.5rem;
    border: 2px solid gainsboro;
    width: 100%;
}
button {
    background-color: rgba(88, 16, 16, 1);
    border: none;

    &:hover{
        background-color: rgb(50, 22, 22);
    }
}